@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

/* General styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

/* Hero section */
.hero-container {
  width: 100%;
  height: 450px;
  background-image: url("/src/assets/homeBackground.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #131212;
}

.text-container {
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.highlight-text {
  color: #e86923;
  font-size: 5rem;
}
h1 {
  font-size: 5rem;
  color: white;
  margin: 0;
}

.join-text {
  position: absolute;
  bottom: 60px;
  left: 65px;
  color: #77808b;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  text-align: left;
  line-height: 1.2;
}

.scroll-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
  text-align: center;
  z-index: 2;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

/* second section */
.new-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.left-half {
  flex: 1;
  max-width: 600px;
  padding: 0 15px; 
}

.right-half {
  flex: 1;
  max-width: 600px;
  padding: 0 15px;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.text-position {
  margin-bottom: -15px;
  font-size: 3rem;
}

.hl-text {
  color: #e86923;
  font-size: 9rem;
  margin-top: 20px;
}

.larger-text {
  font-size: 6rem;
}

.footer-text {
  font-size: 1rem;
  color: #0d0d0d;
  font-family: "Merriweather", serif;
  font-weight: normal;
  text-align: right;
  margin-top: 60px;
}

.right-half {
  padding-top: 40px;
}

.right-half div {
  margin-bottom: 40px;
}

.right-half h2 {
  font-family: "Inter", serif;
  margin-bottom: 10px;
}

.right-half p {
  margin-top: 0;
}
/* Adjustments specific to the third section */
.third-section .card-img-top {
  height: 220px; 
  object-fit: cover; 
  border-radius: 5px;
}
.third-section .card-body {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}

.third-section .card-title,
.third-section .card-text {
  margin-left: 0; 
  text-align: left; 
}

.third-section h2 {
  font-family: "Merriweather", serif;
  font-size: 1.8rem; 
}

.third-section .card-title {
  font-size: 1.2rem; 
  font-family: "Inter", sans-serif;
}

.third-section .card-text {
  font-size: 1rem; 
  font-family: "Inter", sans-serif;
  color: #777;
}

/* Adjusting card size and hover effect */
.third-section .card {
  border: 1px solid rgba(0, 0, 0, 0.1); 
  height: 320px; /* Increased card height for better fit */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.third-section .card:hover {
  transform: translateY(10px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

/* Aligning text to the left inside the card */
.third-section .card-body {
  text-align: left; 
  padding-left: 1rem; 
  padding-right: 1rem;
}

.third-section .card-title,
.third-section .card-text {
  margin-left: 0; 
  text-align: left; 
}

/* Investment Section */
.investment-section {
  padding: 50px 0;
  background-color: #fff;
}

.badge-label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  padding: 7px 6px;
  display: inline-block;
  background-color: transparent;
  cursor: default;
  border-radius: 10px;
}

.investment-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
  line-height: 1.2;
  text-align: left;
}

.investment-description {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group .btn-orange {
  background-color: #e86923;
  color: white;
  margin-right: 15px;
  border-color: #e86923;
}

.button-group .btn-orange:hover,
.button-group .btn-orange:active,
.button-group .btn-orange:focus {
  background-color: #d45a1c;
  border-color: #d45a1c;
}

.button-group .btn-outline {
  border-color: #555;
  color: #555;
  display: flex;
  align-items: center;
}

.button-group .btn-outline:hover,
.button-group .btn-outline:active,
.button-group .btn-outline:focus {
  border-color: #333;
  color: #333333b4;
}

.button-group .btn-outline .fas {
  margin-right: 8px;
  font-size: 18px;
}

.investment-image {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

/* third section */
.third-section {
  background-color: #fff;
}

.top-muted {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.top-text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.third-section .card-img-top {
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

.third-section h2 {
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
}

.third-section .card-title {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

.third-section .card-text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #777;
}

.third-section .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.third-section .card:hover {
  transform: translateY(10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.third-section .card-body {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.third-section .card-title,
.third-section .card-text {
  margin-left: 0;
  text-align: left;
}

/* 4th section */
.innovest-section {
  background-color: white;
  padding: 40px 50px;
}

.sub-heading {
  font-size: 1.25rem;
  color: #6c757d;
}

.fw-bold {
  font-size: 2rem;
  font-weight: bold;
}

.highlighted-text {
  color: #e86923;
}

.process-image {
  max-width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.icon-row {
  margin-top: 20px;
}

.icon {
  color: #0b0b0b;
  font-size: 1.5rem;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  color: #6c757d;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .feature-title {
    font-size: 1.15rem;
  }

  .feature-description {
    font-size: 0.9rem;
  }
}

/* 5th section */
.team-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.team-section h2 {
  font-size: 1.5rem;
  color: #000000;
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
}

.team-section p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.team-section img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.team-section h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.team-section .text-muted {
  font-size: 0.85rem;
}
/* 6th section */

.investment-area {
  background-color: white;
  padding: 3rem 0;
}

.investment-area h5,
.investment-area h2 {
  text-align: center;
}

.investment-area h5 {
  color: #6c757d;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.investment-area h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  font-family: "Inter", sans-serif;
}

.card-custom {
  padding: 1.2rem;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.card-text {
  font-size: 0.95rem;
  color: #6c757d;
}

.custom-icon {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 2rem;
  position: relative;
  top: -15px;
  margin-bottom: -10px;
  border: 2px solid #5555554d;
}

.custom-icon i {
  color: #010101;
}

.investment-area a {
  font-weight: bold;
  text-decoration: none;
}

.investment-area a:hover {
  text-decoration: underline;
}

.card-body {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
/* 7th section */
.faq-section {
  background-color: white;
  padding: 50px 0;
}

.faq-section h2,
.faq-section h5 {
  font-family: "Inter", sans-serif;
}

.faq-section .accordion-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.accordion-header {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.accordion-body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-button {
  color: #000;
  background-color: white;
}

.accordion-button:focus {
  box-shadow: none;
}
